* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

:root {
  /* tweak these to change the effect */
  --min-brightness: 0.5; /* darkest you want */
  --max-brightness: 1.4; /* brightest you want */
}

main {
  height: 100%;
  width: 100%;
  background-image: url(images/win11bg.jpg);
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  main {
    transition: filter 140ms linear; /* smooth small steps */
    will-change: filter;
  }

  .night-mode {
    display: none;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: rgba(255, 170, 90, 0.1); /* soft warm tint */
    backdrop-filter: sepia(0.25) saturate(0.8) brightness(0.95);
    position: absolute;
    z-index: 9;
  }

  .night-mode.active {
    display: flex;
  }

  .tabbar {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .tab-apps {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-left: 200px;

      .app {
        width: 45px; /* fixed size so layout won't move */
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        transition: all linear 0.05s;
      }

      .app img {
        width: 35px;
        object-fit: cover;
      }

      .app:hover {
        background: rgba(255, 255, 255, 0.12); /* light tint */
        backdrop-filter: blur(8px); /* glass blur */
        -webkit-backdrop-filter: blur(8px); /* Safari fix */
        border: 1px solid rgba(255, 255, 255, 0.15);
      }
    }

    .time-box {
      display: flex;
      align-items: center;
      gap: 2px;

      .language {
        height: 45px;
        width: 45px;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
          color: white;
          font-size: 0.8rem;
          font-weight: 500;
        }

        p {
          color: white;
          font-size: 0.6rem;
          font-weight: 500;
        }
      }

      .tab-icons {
        height: 45px;
        width: 75px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: white;

        i {
          font-size: 1rem;
          font-weight: 200;
        }
      }

      .date-time {
        height: 45px;
        width: 75px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        p {
          font-size: 0.8rem;
          text-align: right;
        }
      }

      .right-tab {
        transition: all linear 0.05s;
      }

      .right-tab:hover {
        background: rgba(255, 255, 255, 0.12); /* light tint */
        backdrop-filter: blur(8px); /* glass blur */
        -webkit-backdrop-filter: blur(8px); /* Safari fix */
        border: 1px solid rgba(255, 255, 255, 0.15);
      }
    }
  }

  .options-popup {
    display: none;
    height: 390px;
    width: 360px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    position: absolute;
    right: 1%;
    bottom: 10%;

    .bottom-options {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 5px 5px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 10px;
      background-color: rgb(20, 20, 20);

      .bottom-battery {
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;

        i {
          font-size: 1rem;
        }

        p {
          font-weight: 100;
          font-size: 0.8rem;
        }
      }

      .settings {
        i {
          color: white;
          font-weight: 100;
          font-size: 1rem;
        }
      }
    }

    .top-navigation {
      width: 100%;
      padding: 20px;

      .navigations {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        grid-template-rows: repeat(2, 60px); /* 2 rows (100px height each) */
        gap: 15px; /* spacing between boxes */

        .nav-item {
          background-color: rgb(49, 49, 49);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: white;

          .ri-wifi-off-line {
            display: flex;
          }

          .ri-wifi-off-line.off {
            display: none;
          }

          .ri-wifi-line {
            display: none;
          }

          .ri-wifi-line.on {
            display: flex;
          }
        }

        .nav-item:hover {
          background-color: rgb(61, 61, 61);
        }

        .nav-item.active {
          background: rgba(0, 102, 255, 0.8); /* blue highlight */
        }

        .nav-item.active:hover {
          background: rgba(39, 125, 255, 0.8);
        }
      }
    }
  }

  .options-popup.open {
    display: block;
  }

  .middle-options {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .brightness {
      // background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 5px;
      padding: 20px 0px;

      .brightness-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: white;
          font-size: 1.2rem;
        }
      }

      .brightness-range {
        input {
          width: 290px;
        }
      }
    }
  }

  .context-menu {
    width: 250px;
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    background: rgba(41, 41, 41, 0.77); /* semi-transparent gray tint */
    backdrop-filter: blur(8px);
    cursor: default;

    .menu {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      font-weight: 300;
      padding: 2px 3px;
      border-radius: 2px;
      transition: all linear 0.1s;
    }

    .menu:hover {
      background: rgba(255, 255, 255, 0.09); /* semi-transparent gray tint */
      backdrop-filter: blur(8px);
    }
  }
  .context-menu.open {
    display: flex;
  }

  .start-menu {
    display: none;
    height: 560px;
    width: 550px;
    border-radius: 5px;
    background: rgba(41, 41, 41, 0.77); /* semi-transparent gray tint */
    backdrop-filter: blur(8px);
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    .start-menu-container {
      padding: 20px 20px;
      .search-bar {
        input {
          width: 100%;
          height: 30px;
          border-radius: 10rem;
          border: 1px solid white;
          background: rgba(41, 41, 41, 0.77); /* semi-transparent gray tint */
          backdrop-filter: blur(8px);
          color: white;
          padding-left: 10px;
        }
      }

      .apps-container {
        margin-top: 10px;
        padding: 0px 10px;
        .apps-options {
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            border: none;
            padding: 5px 7px;
            border-radius: 3px;
            background: rgba(60, 60, 60, 0.988);
            color: white;
            display: flex;
            align-items: center;

            i {
              color: white;
              font-size: 1rem;
            }
          }
        }

        .start-apps {
          display: grid;
          grid-template-columns: repeat(6, 1fr); /* 6 columns */
          grid-template-rows: repeat(3, 1fr); /* 3 rows */
          gap: 20px; /* spacing between items */
          padding: 10px 0px;

          .start-app {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            cursor: pointer;

            img {
              width: 48px;
              height: 48px;
              object-fit: contain;
            }

            span {
              font-size: 14px;
              text-align: center;
              color: white;
            }
          }
        }
      }
    }
  }

  .start-menu.open{
    display: block;
  }
}
